body {
    background-color: orange;
}

.wrapper {
    display: flex;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.article {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.author {
    width: 600px;
    margin: 0 auto;
    text-align: right;
}

.article-content img {
    margin: 0 auto;
}

.article-content h2 {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

.article-text {
    width: 600px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: left;
}

a:hover {
    color: darkslategray;
}