{% extends 'base.html.twig' %}

{% block title %}TVNET{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="grid gap-x-6 lg:gap-x-12 md:grid-cols-3 m-8 mt-20">
        {% for user in users %}
            <a href="users/{{ user.id }}">
                <div class="mb-24">
                    <div class="rounded-lg shadow-lg h-full block bg-white">
                        <div class="flex justify-center">
                            <div class="flex justify-center" style="margin-top: -75px">
                                <img src="https://placehold.co/400x400"
                                     class="rounded-full mx-auto shadow-lg" alt=""
                                     style="width: 150px"/>
                            </div>
                        </div>
                        <div class="p-6">
                            <h5 class="text-lg font-bold mb-4">{{ user.name }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}